<div class="container">

<div class="page-header">
  <h1>Brand Size Search</h1>
  <p class="lead">This is the contacts.</p>
</div>

<p><b>会社名</b><p>
<p>&nbsp;株式会社6VOX</p>
<p><b>TEL</b><p>
<p>&nbsp;06-6136-5563</p>
<p><b>E-mail</b><p>
<p>&nbsp;info@6vox.com</p>
<hr>
</div>

