<div class="container">

<div class="page-header">
  <h1>Brand Size Search</h1>
  <p class="lead">What is your sizes.</p>
</div>

<form class="form-horizontal" role="form">

  <div class="form-group size-input" data-size-for="tops">
    <label for="tops_size" class="col-sm-1 control-label">Tops</label>
    <div class="col-sm-11 btn-group btn-size" data-toggle="buttons">
      <label class="btn btn-default"> <input type="checkbox" name="tops_size" value="XXS"> XXS </label>
      <label class="btn btn-default"> <input type="checkbox" name="tops_size" value="XS" > XS  </label>
      <label class="btn btn-default"> <input type="checkbox" name="tops_size" value="S"  > S   </label>
      <label class="btn btn-default"> <input type="checkbox" name="tops_size" value="M"  > M   </label>
      <label class="btn btn-default"> <input type="checkbox" name="tops_size" value="L"  > L   </label>
      <label class="btn btn-default"> <input type="checkbox" name="tops_size" value="XL" > XL  </label>
      <label class="btn btn-default"> <input type="checkbox" name="tops_size" value="XXL"> XXL  </label>
    </div>
  </div>

  <div class="form-group size-input" data-size-for="shirts">
    <label for="shirts_size" class="col-sm-1 control-label">Shirts</label>
    <div class="col-sm-11 btn-group btn-size" data-toggle="buttons">
      <label class="btn btn-default"> <input type="checkbox" name="shirts_size" value="XXS"> XXS </label>
      <label class="btn btn-default"> <input type="checkbox" name="shirts_size" value="XS" > XS  </label>
      <label class="btn btn-default"> <input type="checkbox" name="shirts_size" value="S"  > S   </label>
      <label class="btn btn-default"> <input type="checkbox" name="shirts_size" value="M"  > M   </label>
      <label class="btn btn-default"> <input type="checkbox" name="shirts_size" value="L"  > L   </label>
      <label class="btn btn-default"> <input type="checkbox" name="shirts_size" value="XL" > XL  </label>
      <label class="btn btn-default"> <input type="checkbox" name="shirts_size" value="XXL"> XXL </label>
    </div>
  </div>

  <div class="form-group size-input" data-size-for="bottoms">
    <label for="bottoms_size" class="col-sm-1 control-label">Bottoms</label>
    <div class="col-sm-11 btn-group btn-size" data-toggle="buttons">
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W27"> W27 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W28"> W28 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W29"> W29 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W30"> W30 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W31"> W31 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W32"> W32 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W33"> W33 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W33"> W34 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W33"> W35 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W33"> W36 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W33"> W37 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W33"> W38 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="W33"> W39 </label>
      <label class="btn btn-default"> <input type="checkbox" name="bottoms_size" value="w40"> w40 </label>
    </div>
  </div>

  <div class="form-group size-input" data-size-for="shoes">
    <label for="shoes_size" class="col-sm-1 control-label">Shoes</label>
    <div class="col-sm-11 btn-group btn-size" data-toggle="buttons">
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="22.0"> 22.0 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="22.5"> 22.5 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="23.0"> 23.0 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="23.5"> 23.5 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="24.0"> 24.0 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="24.5"> 24.5 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="25.0"> 25.0 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="25.5"> 25.5 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="26.0"> 26.0 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="26.5"> 26.5 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="27.0"> 27.0 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="27.5"> 27.5 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="28.0"> 28.0 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="28.5"> 28.5 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="29.0"> 29.0 </label>
      <label class="btn btn-default"> <input type="checkbox" name="shoes_size" value="29.5"> 29.5 </label>
    </div>
  </div>

  <div class="form-group">
    <label for="brand_name" class="col-sm-1 control-label">Brand</label>
    <div class="col-sm-11">
      <input type="text" class="form-control" placeholder="ブランド名をアルファベットで入力..." name="brand_name" id="brand_name">
    </div>
  </div>

</form>

<hr>

  <div class="col-md-12 div-brand" style="display: none; border: 1px solid #ddd; border-radius: 3px; margin-bottom: 10px; padding: 20px;">
    <h3 class="bs_name"></h3>
    <h4 class="bs_name_kana"></h4>
    <div class="col-md-2 div-item">
      <h4 class="bs_item"></h4>
      <h4 class="bs_result">
        <span class="bs_size_japan"></span>
        <small class="glyphicon glyphicon-arrow-right"></small>
        <span class="bs_size"></span>
      </h4>
    </div>
  </div>

<div id="results"></div>

</div>
