<div style="width:100%;">
<div class="well well-sm" style="margin-top:40px;margin-bottom:20px;background-color:whitesmoke;">
  <h2 style="display:inline-block;_display:inline;">Brand Size Search</h2>
<div style=background-color:whitesmoke;margin-top:-21px;>
  <hr>
  <h4 style="color:gray;margin-left:10px;">Information</h4>
  <hr>
      <h4 style="color:gray;margin-left:10px;font-size:12pt;">BrandSizeSearchとは?</h4>
      <p style="margin-left:20px;width:80%;color:gray;">BrandSizeSearchは、ファッションブランドのあなたに相応しいサイズを表示してくれるサービスです。ファッションブランドは通常実寸によって定められている表記サイズが各ブランドごとに異なり、また海外のファッションブランドにいたっては日本で通常使用されているサイズ規格とも大きなズレがあります。そこで、本サイトであなたが普段着用されている服のサイズを選択して、お知りになられたいブランド名を入力すると、そのブランドの適切なサイズを知ることができます。サイズ選びに迷われた際に、どうぞご利用ください。</p>
  <hr>
  <h4 style="color:gray;margin-left:10px;font-size:12pt;">注意事項</h4>
  <p style="margin-left:20px;width:80%;color:gray;">こちらのサイトで使用しているデータは、主にそれぞれのブランドの公式サイズガイドから集められております。ブランドのサイズ仕様の変更があった場合や、デザインによるサイズと実寸の違いなど本サイトの情報に誤りがある場合があります。本サイトの情報でいかなる損害を被った場合も一切責任は負いかねますのでご了承ください。</p>
<br>
</div>
</div>
</div>
