<div class="container">

<div class="page-header">
  <h1>Brand Size Search</h1>
  <p class="lead">This is the informations.</p>
</div>

<p><b>BrandSizeSearchとは?</b></p>
<p class="information-sentence">BrandSizeSearchは、ファッションブランドのあなたに相応しいサイズを表示してくれるサービスです。ファッションブランドは通常実寸によって定められている表記サイズが各ブランドごとに異なり、また海外のファッションブランドにいたっては日本で通常使用されているサイズ規格とも大きなズレがあります。そこで、本サイトにてアイテム、普段着用されている服のサイズ、ブランド名を入力すると、ブランドごとの適切なサイズを知ることができます。サイズ選びに迷われた際に、どうぞご利用ください。</p>

<hr>

<p><b>注意事項</b></p>
<p class="information-sentence">こちらのサイトで使用しているデータは、主にそれぞれのブランドの公式サイズガイドから集められております。ブランドのサイズ仕様の変更があった場合や、デザインによるサイズと実寸の違いなど本サイトの情報に誤りがある場合があります。本サイトの情報によりいかなる損害を被った場合も一切責任は負いかねますのでご了承ください。</p>

<hr>

<p><b>Githubリポジトリ</b></p>
<p class="information-sentence">当サイトのソースをGithubにて公開しています。</p>
<div class="github-widget" data-repo="junki929/brand-size-search"></div>

<hr>

</div>
