<div style=background-color:teal;color:white;>
  <h1 style=margin-right:500px;display:inline-block;_display:inline;><%= @title %></h1>
  <h2 style=display:inline-block;_display:inline;><%= link_to 'Home', '/top/index' %></h2>
  <h2 style=display:inline-block;_display:inline;><%= link_to 'Information', '/top/information' %></h2>
  <h2 style=display:inline-block;_display:inline;><%= link_to 'Size', '/top/size' %></h2>
  <hr>
</div>
<div style=background-color:whitesmoke;margin-top:-16px;>
  <p><b>Size</b></p>
  <p>日本人サイズ</p>
  <p>一般的な計測方法</p>
</div>
